$dark-cyan: hsl(158, 36%, 37%);
$fraunces: 'Fraunces', serif;
$montserrat: 'Montserrat', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: hsl(30, 38%, 92%);
    font-family: $montserrat;
}

p{
    color: rgb(168,169,172);
    font-size: 14px;
}

h1, h2{
    font-family: $fraunces;
}

main{
    width: 37.5rem;
    height: 28.125rem;

    display: flex;
    flex-direction: row;

    section.img{
        background-image: url("../images/image-product-desktop.jpg");
        background-position: center;
        background-size: cover;

        width: 50%;

        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    section.content{
        background-color: white;
        width: 50%;

        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        padding: 30px 30px;

        p:first-child{
            margin-bottom: 20px;
        }

        h1{
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 25px;
        }

        p:nth-child(3){
            line-height: 24px;
            margin-bottom: 23px;
        }

        .price{
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 30px;

            h2{
                font-size: 32px;
                color: $dark-cyan;

                &:hover{
                    opacity: 0.8;
                }
            }

            p{
                text-decoration: line-through;
            }
        }

        a{
            display: flex;
            align-items: center;
            justify-content: center;

            height: 47px;
            border-radius: 10px;
            background-color: $dark-cyan;
            gap: 10px;
            text-decoration: none;
            color: white;

            &:hover{
                background-color: rgb(21,51,39);
            }
        }
    }
}

@media (max-width: 644px){
    main{

        max-width: 345px;
        height: 95%;

        flex-direction: column;

        section.img{
            background-image: url("../images/image-product-mobile.jpg");
            width: 100%;
            height: 35%;

            border-radius: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        section.content{
            width: 100%;
            height: auto;

            border-radius: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            p:nth-child(3) {
                width: 295px;
            }
        }

    }
}

